@use "../../../assets/fonts/font.scss";
.mainPage {
  .section__2 {
    margin: 100px;
    &--heading {
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
      font-size: 48px;
      font-family: "Roboto Slab", serif;
      color: #050049;
    }
    &--subheading {
      font-family: "Roboto Slab", serif;
      font-size: 24px;
      text-align: center;
      color: #050049;
      font-weight: 300;
      margin-bottom: 65px;
    }
    &--table {
      .table__row {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        min-height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        img {
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }
        .row__container {
          background-color: #ddd;
          width: 100%;
          border-radius: 5px;
          height: 30px;
          .row__infor {
            color: white;
            border-radius: 5px;
            height: 30px;
            .content {
              color: white;
              text-align: right;
              margin: 0;
              padding-right: 10px;
            }
            &-0 {
              background-color: #212083;
            }
            &-1 {
              width: 42.1%;
              background-color: #ec912d;
            }
            &-2 {
              width: 40.3%;
              background-color: #0078d4;
            }
            &-3 {
              width: 40.3%;
              background-color: #0069ff;
            }
            &-4 {
              width: 38.6%;
              background-color: #3ba757;
            }
          }
        }
      }
    }
    &--notice {
      text-align: center;
      font-size: 13px;
    }
  }
}

@media screen {
  @media (max-width: 575px) {
    .mainPage {
      .section__2 {
        margin-left: 30px;
        margin-right: 30px;
        &--heading {
          font-size: 32px;
        }
      }
    }
  }
}
