.section5Malaysia {
  .container {
    padding: 50px;
    h3 {
      font-size: 32px;
      text-align: center;
      color: #222222;
      font-family: Montserrat;
      font-weight: bold;
    }
    ul {
      li {
        font-size: 17px;
        strong {
          font-weight: bold;
          color: royalblue;
        }
      }
    }
  }
}
