@use "../../assets/fonts/font.scss";
.refundRequestPage {
  .container {
    font-family: "Open Sans", Verdana, Tahoma, serif;
    padding-left: 170px;
    padding-right: 30px;
    margin-top: 20px;
    h1 {
      font-size: 36px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333333;
      border-bottom: solid 1px #ddd;
    }
    .table {
      width: 100%;
      box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
      border: 1px solid #ddd;
      margin-top: 25px;
      margin-bottom: 60px;
      padding: 40px;
      .title {
        font-size: 15px;
        color: #333333;
      }
      select {
        margin-top: 10px;
        width: 100%;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding: 5px 10px;
        border: 1px solid #ddd;
        &:focus {
          outline: none;
        }
      }
      .infor {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 2.5;
      }
    }
  }
}

@media (min-width: 1258px) and (max-width: 1700px) {
  .refundRequestPage {
    .container {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1025px) {
  .refundRequestPage {
    .container {
      padding-left: 0;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .refundRequestPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 575px) {
  .refundRequestPage {
    .container {
      padding-left: 20px;
    }
  }
}
