.mainPage {
  .section__3 {
    min-height: 400px;
    background-color: #0f1e53;
    padding: 100px 0;
    .container {
      padding-left: 250px;
      padding-right: 250px;
      .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        .tablinks {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 10px 5px;
          margin: 0px 16px;
          gap: 8px;
          .iconhead {
            width: 25px;
            height: 25px;
          }
          span {
            font-size: 17px;
            color: white;
          }
        }
        .active {
          border-bottom: solid 3px royalblue;
        }
      }
    }
    &-heading {
      font-family: "Roboto Slab", serif;
      font-size: 48px;
      text-align: center;
      color: white;
      margin-bottom: 20px;
    }
    &-subHeading {
      font-size: 24px;
      text-align: center;
      color: white;
      margin-bottom: 65px;
    }
    &-os {
      display: flex;
      justify-content: space-between;
      .iconos {
        width: 60px;
        height: 60px;
      }
    }
    &-ca {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 20px;
      .wrapper {
        border-radius: 10px;
        width: 280px;
        height: 90px;
        &-0 {
          background-color: #3d596d;
        }
        &-1 {
          background-color: rgb(0, 156, 222);
        }
        &-2 {
          background-color: #cb2135;
        }
        &-3 {
          background-color: #009639;
        }
        &-4 {
          background-color: #009639;
        }
        &-5 {
          background-color: #ffd633;
        }
        &-6 {
          background-color: black;
        }
        &-7 {
          background-color: #a0dbe8;
        }
        &-8 {
          background-color: #24ace4;
        }
        &-9 {
          background-color: #0082c9;
        }
        &-10 {
          background-color: #2495ec;
        }
        &-11 {
          background-color: #e24329;
        }
        &-12 {
          background-color: #57bc90;
        }
        &-13 {
          background-color: #ff6c2c;
        }
        &-14 {
          background-color: #ff9933;
        }
        &-15 {
          background-color: #ee317d;
        }
        &-16 {
          background-color: #3dcd3d;
        }
        .logo-space-apps {
          background-color: white;
          display: flex;
          height: 60px;
          border-radius: 10px;
          .iconca {
            width: 50px;
            height: 50px;
            margin: 4px;
          }
          .logo-space-apps-desc {
            margin-left: 12px;
            .logo-space-title {
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              --tw-text-opacity: 1;
              color: rgb(31 41 55 / var(--tw-text-opacity, 1));
            }
            .logo-space-desc {
              padding: 2px 2px;
              line-height: 15px;
              font-size: 13px;
              line-height: 16px;
              --tw-text-opacity: 1;
              color: rgb(31 41 55 / var(--tw-text-opacity, 1));
            }
          }
        }
        .moreInfo {
          margin-left: 8px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity, 1));
          margin-top: 4px;
        }
      }
      .visit {
        width: 100%;
        font-size: 17px;
        color: white;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .mainPage {
    .section__3 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mainPage {
    .section__3 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mainPage {
    .section__3 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mainPage {
    .section__3 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 575px) {
  .mainPage {
    .section__3 {
      .container {
        padding: 0 20px;
      }
      &-os {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
      }
    }
  }
}
