@use "../../assets/fonts/font.scss";
.clientareaPage {
  .container {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 170px;
    padding-right: 30px;
    margin-top: 20px;
    h1 {
      font-size: 36px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333333;
      border-bottom: solid 1px #ddd;
    }
    .table {
      width: 100%;
      box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
      border: 1px solid #ddd;
      margin-top: 25px;
      margin-bottom: 60px;
      padding: 40px;
      h3 {
        font-size: 24px;
      }
      .row {
        display: flex;
        margin-bottom: 15px;
        gap: 36px;
        font-family: "Open Sans", Verdana, Tahoma, serif;
        .form-group {
          flex: 1;
          label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333333;
            font-weight: 700;
          }
          input {
            width: 100%;
            margin-top: 5px;
            display: block;
            padding: 6px 12px;
            border: 1px solid #ccc;
            &:focus {
              outline: none;
              border: solid 1px royalblue;
            }
            &:hover {
              border: solid 1px royalblue;
            }
          }
          select {
            display: block;
            margin-top: 5px;
            width: 100%;
            padding: 6px 12px;
            border: 1px solid #ccc;
            &:focus {
              outline: none;
              border: solid 1px royalblue;
            }
            &:hover {
              border: solid 1px royalblue;
            }
          }
          .phone {
            background-color: #f2f2f2;
            padding-left: 5px;
            border: 1px solid #ddd;
            display: flex;
            gap: 12px;
            align-items: center;
            .flag {
              display: flex;
              gap: 8px;
              align-items: center;
              img {
                width: 20px;
                height: 14px;
              }
            }
            input {
              background-color: white;
              border: none;
              margin-top: 0px;
              &:focus {
                border: none;
                outline: none;
              }
              &:hover {
                border: none;
              }
            }
          }
        }
      }
      .email-preferences {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 400;
      }
      .controls {
        .check {
          display: flex;
          gap: 12px;
          align-items: center;
          p {
            font-size: 14px;
            color: #333333;
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        button {
          padding: 6px 12px;
          border: solid 1px #ddd;
          &.save-changes {
            color: white;
            background-color: royalblue;
            &:hover {
              background-color: #212083;
            }
          }
          &.cancel {
            &:hover {
              background-color: #adadad;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1258px) and (max-width: 1700px) {
  .clientareaPage {
    .container {
      padding-left: 100px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .clientareaPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 575px) {
  .clientareaPage {
    .container {
      padding-left: 20px;
      .row {
        flex-direction: column;
      }
      .button {
        margin-top: 30px;
      }
    }
  }
}
