.section2Status {
  .container {
    padding: 0px 250px;
    .header {
      display: flex;
      margin-bottom: 15px;
      justify-content: space-between;
      h2 {
        font-size: 30px;
        color: #131a26;
        font-weight: bold;
        small {
          color: #687790;
        }
      }
      .calendar {
        display: flex;
        gap: 6px;
        align-items: center;
        .icon {
          width: 18px;
          height: 18px;
        }
        span {
          font-size: 18px;
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }
    .card {
      width: 100%;
      overflow-x: auto;
      background: #fff;
      padding: 60px;
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      .api {
        min-width: 600px;
        border-bottom: 1px solid #d1d5db;
        &-title {
          display: flex;
          margin-top: 20px;
          justify-content: space-between;
          align-items: center;
          &-left {
            display: flex;
            align-items: center;
            .name {
              font-size: 18px;
              font-weight: normal;
              color: #1f2937;
            }
            .icon {
              margin-left: 5px;
              color: #687790;
            }
            .space {
              margin: 0 5px;
            }
            .time {
              color: #22c55e;
              font-size: 18px;
            }
          }
          &-right {
            display: flex;
            align-items: center;
            .status-icon {
              width: 12px;
              height: 12px;
              margin-right: 5px;
              display: inline-block;
              border-radius: 9999px;
              background-color: #3bd671;
              transform: none;
            }
            .status-title {
              font-weight: 400;
              font-size: 18px;
              color: #22c55e;
            }
          }
        }
      }
      .bars {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        gap: 4px;
        height: 30px;
        .bar {
          width: 6px;
          height: 30px;
          border-radius: 2px;
          &.bar-orange {
            background-color: #f97316;
          }
          &.bar-green {
            background-color: #22c55e;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .section2Status {
    .container {
      padding: 0 50px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section2Status {
    .container {
      padding: 0 50px;
    }
  }
}

@media (max-width: 1024px) {
  .section2Status {
    .container {
      .card {
        padding: 30px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section2Status {
    .container {
      padding: 0 50px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section2Status {
    .container {
      padding: 0 30px;
    }
  }
}

@media (max-width: 575px) {
  .section2Status {
    .container {
      padding: 0 10px;
      .header {
        flex-direction: column;
        h2 {
          text-align: center;
        }
        .calendar {
          justify-content: center;
        }
      }
      .card {
        padding: 10px;
      }
    }
  }
}
