@use "../../../assets/fonts/font.scss";
.aboutUsPage {
  .section__1 {
    .container {
      margin: 95px auto;
      .wrap {
        padding: 40px;
        background-color: #ffffff;
        h1 {
          font-size: 42px;
          margin-bottom: 20px;
          line-height: 1.2em;
          font-weight: 400;
          text-transform: none;
        }
        .img {
          .icon {
            width: 500px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
          }
        }
        h2 {
          font-size: 35px;
          margin: 20px 0;
          line-height: 1.2em;
          font-weight: 400;
          text-transform: none;
        }
        span {
          font-size: 18px;
          padding-bottom: 20px;
        }
        ul {
          padding-left: 22px;
          li {
            list-style: disc;
            font-size: 17px;
            color: #222222;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .aboutUsPage {
    .section__1 {
      .container {
        padding: 0 10px;
        .wrap {
          padding: 20px;
        }
      }
    }
  }
}
