@use "../../assets/fonts/font.scss";
.paymentMethodPage {
  .container {
    font-family: "Open Sans", Verdana, Tahoma, serif;
    padding-left: 170px;
    padding-right: 30px;
    margin-top: 20px;
    h1 {
      font-size: 36px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333333;
      border-bottom: solid 1px #ddd;
    }
    .overflow-x {
      max-width: 100%;
      margin-top: 40px;
      padding: 40px;
      overflow-x: auto;
      white-space: nowrap;
      box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
      border: 1px solid #ddd;
      margin-top: 25px;
      margin-bottom: 60px;
      table {
        width: 100%;
        border: 1px solid #ccc;
        thead {
          th {
            padding: 8px;
            background-color: #f9f9f9;
          }
        }
      }
      p {
        font-size: 14px;
        text-align: center;
        padding: 8px;
      }
    }
  }
}

@media (min-width: 1258px) and (max-width: 1700px) {
  .paymentMethodPage {
    .container {
      padding-left: 100px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .paymentMethodPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 575px) {
  .paymentMethodPage {
    .container {
      padding-left: 20px;
    }
  }
}
