@use "../../assets/fonts/font.scss";
.popularAppsAndWebPage {
  .container {
    margin: 95px auto;
    .wrap {
      background-color: #ffffff;
      padding: 40px;
      h1 {
        color: #222222;
        font-size: 42px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 29px;
        margin-bottom: 20px;
        color: #222222;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        a {
          color: #1e73be;
        }
      }
      .img {
        &-element {
          width: 100px;
          height: auto;
        }
      }
      ul {
        li {
          font-size: 17px;
          margin-left: 20px;
          color: #1e73be;
          list-style-type: disc;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .popularAppsAndWebPage {
    .container {
      padding: 0 10px;
      .wrap {
        padding: 20px;
      }
      h1 {
        word-wrap: break-word;
        font-size: 32px;
      }
    }
  }
}
