@use "../../../assets/fonts/font.scss";
.clonePage {
  .section__2 {
    background-color: #ebf0ff80;
    padding: 100px 0;
    .container {
      padding-left: 220px;
      padding-right: 220px;
    }
    &-top {
      .img {
        background: royalblue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        .imgSection2 {
          width: 100%;
          height: auto;
        }
      }
    }
    &-title {
      font-weight: 400;
      margin-bottom: 40px;
      font-size: 29px;
      text-align: center;
    }
    &-features {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
      .feature {
        width: 45%;
        display: flex;
        gap: 12px;
        align-items: center;
        &-img {
          .icon {
            width: 50px;
            height: 50px;
            max-width: none;
            border: 2px solid royalblue;
            border-radius: 25%;
            padding: 5px;
            background: white;
          }
        }
        &-text {
          display: flex;
          flex-direction: column;
        }
        &-title {
          font-size: 20px;
          font-weight: bold;
          color: #2b2b2b;
          font-family: "Open Sans", sans-serif;
        }
        &-content {
          font-size: 17px;
          color: #2b2b2b;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .clonePage {
    .section__2 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .clonePage {
    .section__2 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .clonePage {
    .section__2 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .clonePage {
    .section__2 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 575px) {
  .clonePage {
    .section__2 {
      .container {
        padding: 0 20px;
      }
      &-features {
        flex-direction: column;
        .feature {
          width: 100%;
        }
      }
    }
  }
}
