@use "../../assets/fonts/font.scss";
.resellerPage {
  .container {
    font-family: "Open Sans", Verdana, Tahoma, serif;
    padding-left: 170px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    .sign-up {
      font-size: 36px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333333;
      border-bottom: solid 1px #ddd;
    }
    .main-content {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      padding: 25px;
      box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
      border: 1px solid #ddd;
      .reseller-header {
        display: inline-flex;
        margin: 0 auto;
        background-color: royalblue;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        h1 {
          font-size: 42px;
          font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 700;
          color: white;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
        }
        p {
          margin: 10px 0;
          color: white;
        }
      }
      .cards {
        display: flex;
        margin-top: 40px;
        gap: 12px;
        align-items: stretch;
        .card {
          min-height: 100%;
          margin: 10px;
          background-color: white;
          padding: 30px;
          border-radius: 12px;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s;
          flex: 1;
          li {
            font-size: 16px;
            font-family: "Open Sans", Verdana, Tahoma, serif;
            color: #555555;
            margin-bottom: 10px;
          }
          h2 {
            font-size: 25px;
            word-break: break-all;
            color: #007bff;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          .first {
            &::before {
              font-size: 20px;
              margin-right: 5px;
              content: "✔";
              color: #007bff;
              font-weight: bold;
            }
          }
          .second {
            &::before {
              padding-left: 15px;
              font-size: 20px;
              margin-right: 10px;
              content: "•";
              color: #007bff;
              font-weight: bold;
            }
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        button {
          color: white;
          border: solid 1px royalblue;
          background: royalblue;
          padding: 10px 20px;
          transition: 0.4s;
          margin-top: 30px;
        }
      }
      .noticed {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1258px) and (max-width: 1700px) {
  .resellerPage {
    .container {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1257px) {
  .resellerPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 767px) {
  .resellerPage {
    .container {
      .cards {
        flex-direction: column;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .resellerPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 575px) {
  .resellerPage {
    .container {
      padding-left: 20px;
    }
  }
}

@media (max-width: 400px) {
  .resellerPage {
    .container {
      .main-content {
        padding: 10px;
        .sign-up {
          font-size: 36px !important;
        }
        .reseller-header {
          padding: 10px;
          h1 {
            font-size: 32px;
          }
        }
        .cards {
          .card {
            padding: 10px;
          }
        }
      }
    }
  }
}
