@use "../../../assets/fonts/font.scss";
.mainPage {
  .section__11 {
    background-color: #0f1e53;
    padding: 100px 0;
    .container {
      padding-left: 220px;
      padding-right: 220px;
    }
    &-heading {
      font-size: 48px;
      font-weight: bold;
      font-family: "Roboto Slab", serif;
      margin-bottom: 20px;
      text-align: center;
      color: white;
    }
    &-subheading {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      margin-bottom: 65px;
      color: white;
    }
    &-buttons-wrapper {
      .buttons {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        .button {
          padding: 18px 40px;
          font-size: 21px;
          font-weight: bold;
          &-account {
            background-color: royalblue;
            color: white;
          }
          &-contact {
            background-color: white;
            color: #050049;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .mainPage {
    .section__11 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mainPage {
    .section__11 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mainPage {
    .section__11 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mainPage {
    .section__11 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 575px) {
  .mainPage {
    .section__11 {
      .container {
        padding: 0 10px;
      }
      &-heading {
        font-size: 32px;
      }
      &-buttons-wrapper {
        .buttons {
          flex-direction: column;
          .button {
            min-width: 200px;
            text-align: center;
            &-account {
              padding: 10px 20px;
            }
            &-contact {
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}
