@use "../../../assets/fonts/font.scss";
$a-color: #ffffff;
.header {
  display: flex;
  flex-direction: column;
  &__one {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    color: $a-color;
    background-color: #0f1e53;
    a {
      &:hover {
        color: #007bff;
      }
    }
    .header__login {
      text-decoration: none;
      font-size: 14px;
      padding: 0 10px;
    }
    .header__register {
      border-radius: 50px;
      border: 1px solid #77b6ea;
      cursor: pointer;
      &:hover {
        background-color: #77b6ea;
      }
      a {
        text-decoration: none;
        font-size: 12px;
        padding: 0 10px;
        &:hover {
          color: $a-color;
        }
      }
    }
    .header__environment {
      margin-left: 20px;
      text-decoration: none;
      font-size: 14px;
      padding: 0 10px;
      border-left: 1px solid #ddd;
      text-decoration: none;
    }
    .header__environment:hover {
      color: #0f49c2;
    }
    .icon-environment {
      width: 30px;
      margin-right: 10px;
      height: auto;
      max-width: 100%;
    }
  }
  &__two {
    color: white;
    text-align: center;
    padding: 20px 40px;
    background-color: #0f1e53;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .logo {
      max-width: 230px;
      height: auto;
    }
    .header__right {
      display: flex;
      justify-content: space-between;
      .icon-down {
        margin-left: 15px;
      }
      a {
        font-family: "Ubuntu", sans-serif;
        color: $a-color;
      }
      a:hover {
        color: #4169e1;
      }
      .deploy:hover .submenu {
        display: block;
      }
      .submenu {
        li:hover {
          background-color: #142763;
        }
      }
      &-minwidth767,
      &-bars {
        .deploy {
          font-size: 15px;
          font-weight: 500;
          &-menu {
            display: flex;
            gap: 15px;
            padding: 20px 10px;
            position: relative;
            align-items: center;
            .icon-down {
              margin-left: 15px;
            }
          }
          .submenu {
            display: none;
            position: absolute;
            text-align: left;
            padding: 10px 0;
            ul {
              background-color: #0f1e53;
              li {
                padding: 8px 10px;
                a {
                  font-size: 14px;
                }
              }
            }
          }
          .submenubars {
            &-maxwidth768 {
              text-align: left;
              padding: 10px 0;
              border-bottom: 1px solid #000;
              ul {
                background-color: #0f1e53;
                li {
                  padding: 8px 10px;
                  a {
                    font-size: 14px;
                  }
                }
              }
            }
            &-clickSub {
              text-align: left;
              padding: 10px 0;
              border-bottom: 1px solid #000;
              ul {
                background-color: #0f1e53;
                li {
                  padding: 8px 10px;
                  a {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      &-minwidth767 {
        .elementMenu {
          padding: 20px 0;
          font-size: 15px;
          font-weight: 500;
        }
      }
      &-bars {
        display: flex;
        justify-content: space-between;
        .elementMenu {
          padding: 20px 10px;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: 1536px) {
  .header {
    &__right {
      gap: 60px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__right {
      gap: 40px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header__right {
    flex-direction: column;
    width: 100%;
    text-align: left;
    .deploy-menu {
      margin-top: 10px;
    }
    .submenu {
      display: none !important;
    }
    .elementMenu {
      padding-left: 10px;
    }
  }
  .iconBar {
    display: block !important;
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .header__right {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 100%;
      text-align: left;
    }
  }
  .iconBar {
    display: block !important;
    font-size: 24px;
  }
  .submenu {
    display: none !important;
  }
}

@media (max-width: 350px) {
  .header__one {
    gap: 2px;
  }
  .header__two {
    padding: 10px;
    .header__container {
      gap: 8px;
      img {
        width: 180px !important;
      }
    }
  }
}
