.overflow-x {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  .registerPage {
    &-container {
      font-family: "Open Sans", Verdana, Tahoma, serif;
      margin: 40px auto 100px auto;
      padding: 0 10px;
      max-width: 500px;
      .img-link {
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: 300px;
          height: auto;
        }
      }
      .register-panel {
        padding: 10%;
        margin: 30px auto;
        width: 90%;
        min-width: 320px;
        background: white;
        .row {
          display: flex;
          gap: 8px;
          flex-direction: column;
          margin-bottom: 12px;
          .title {
            font-weight: 600;
          }
          input {
            height: 50px;
            width: 100%;
            border: 1px solid #ccc;
            transition: border-colorease-in-out 0.15s;
            padding-left: 5%;
            outline: none;
            &:focus {
              outline: none;
              border: 1px solid royalblue;
            }
          }
        }
        .attention {
          display: block;
          text-align: center;
          font-size: 12px;
          color: #777;
        }
        .button {
          display: flex;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
          .register {
            color: white;
            border: solid 1px royalblue;
            padding: 8px 10px;
            background-color: royalblue;
            &:hover {
              color: royalblue;
              background: white;
            }
          }
        }
      }
      .term-privacy {
        text-align: center;
        color: white;
        a {
          color: royalblue;
        }
      }
    }
  }
}
