@use "../../assets/fonts/font.scss";
.supportTicketsPage {
  .container {
    padding-left: 170px;
    h1 {
      font-size: 36px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ddd;
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .button {
      display: flex;
      justify-content: end;
      button {
        margin-right: 30px;
        display: block;
        border: solid 1px royalblue;
        padding: 10px 20px;
        width: fit-content;
        background: royalblue;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          background: white;
          color: royalblue;
          text-decoration: none;
        }
      }
    }
    .overflowX {
      overflow-x: auto;
      white-space: nowrap;
      max-width: 1200px;
    }
    .table {
      margin-top: 25px;
      margin-bottom: 30px;
      width: 100%;
      padding: 15px 40px;
      border: 1px solid #ddd;
      box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
      &-search {
        label {
          display: flex;
          align-items: center;
          padding: 8px;
          border: 1px solid #ddd;
          &:focus-within {
            border: 1px royalblue solid;
          }
          &:hover {
            border: 1px royalblue solid;
          }
          .iconSearch {
            font-size: 24px;
            margin-right: 12px;
          }
          input {
            width: 100%;
            background-color: #f5f5f5;
            &:focus {
              outline: none;
            }
          }
        }
      }
      &-list {
        margin-top: 20px;
        table {
          width: 100%;
          thead {
            th {
              text-align: center;
              padding: 10px 0;
              border-bottom: 1px solid #ccc;
              color: #333333;
            }
          }
          tbody {
            td {
              padding: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .supportTicketsPage {
    .container {
      padding-left: 100px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .supportTicketsPage {
    .container {
      padding-left: 50px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .supportTicketsPage {
    .container {
      padding-left: 20px;
    }
  }
}

@media (max-width: 575px) {
  .supportTicketsPage {
    .container {
      padding-left: 20px;
    }
  }
}
