.pricingPage {
  .container {
    margin: 140px auto;
    padding: 0 150px;
    .wrap {
      background-color: white;
      padding: 95px;
      h1 {
        font-size: 42px;
        margin-bottom: 20px;
        line-height: 1.2em;
        font-weight: 400;
        text-transform: none;
      }
      h4 {
        font-size: 24px;
        font-family: inherit;
        margin-bottom: 20px;
        font-weight: 400;
      }
      p {
        margin-bottom: 25px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
      }
      .country {
        font-weight: 500;
        font-size: 18px;
      }
      .overflow-x {
        margin-bottom: 30px;
        overflow-x: auto;
        max-width: 1200px;
        white-space: nowrap;
        table {
          width: 100%;
          thead {
            th {
              font-size: 16px;
              color: #222222;
              padding: 8px;
              border-bottom: 2px solid #222222;
            }
          }
          tbody {
            td {
              font-size: 16px;
              text-align: center;
              color: #222222;
              border-bottom: 1px solid #0000001a;
              padding: 15px;
            }
          }
        }
        span {
          font-size: 16px;
        }
      }
      h2 {
        font-size: 35px;
        margin-bottom: 20px;
        line-height: 1.2em;
        font-weight: 400;
        text-transform: none;
      }
      span {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .pricingPage {
    .section__1 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pricingPage {
    .section__1 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pricingPage {
    .section__1 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pricingPage {
    .section__1 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 575px) {
  .pricingPage {
    .section__1 {
      .container {
        padding: 0 10px;
        .wrap {
          padding: 20px;
        }
        h1 {
          word-wrap: break-word;
          font-size: 32px;
        }
      }
    }
  }
}
