.headerLayoutDeploy {
  .section__1 {
    &.closeBars {
      justify-content: end;
    }
    padding: 10px 0;
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 400px;
    justify-content: space-between;
    &-left {
      .iconBars {
        cursor: pointer;
        font-size: 24px;
      }
    }
    &-right {
      display: flex;
      gap: 20px;
      .chooseLanguage {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 30px;
        border: solid 1px #ddd;
        border-radius: 6px;
        gap: 8px;
        align-items: center;
        .flag {
          img {
            width: 20px;
          }
        }
        .language {
          font-size: 18px;
          color: #808080;
        }
      }
      .addservicebutton {
        button {
          padding: 0px 70px;
          border-radius: 25px;
          border: none;
          background: royalblue;
          color: white;
          font-size: 22px;
          font-weight: bold;
          transition: 0.6s;
          width: 210px;
        }
      }
      .logout {
        padding: 6px 15px;
        background-color: white;
        color: grey;
        border-radius: 3px;
        border: solid 1px #ddd;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .headerLayoutDeploy {
    .section__1 {
      padding-left: 270px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .headerLayoutDeploy {
    .section__1 {
      padding-left: 270px;
      &-right {
        .addservicebutton {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .headerLayoutDeploy {
    .section__1 {
      padding-left: 150px;
      .chooseLanguage {
        display: none;
      }
      .addservicebutton {
        display: none;
        button {
          max-width: 210px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .headerLayoutDeploy {
    .section__1 {
      gap: 20px;
      padding-left: 50px;
    }
  }
}
