.privacyPolicyPage {
  .container {
    margin: 95px auto;
    .wrap {
      padding: 40px;
      background-color: #ffffff;
      h1 {
        font-size: 42px;
        margin-bottom: 20px;
        line-height: 1.2em;
        font-weight: 400;
        text-transform: none;
      }
      p {
        font-size: 17px;
        color: #222222;
        ul {
          padding-left: 20px;
          li {
            list-style-type: disc;
          }
        }
      }
    }
  }
}
