.memberRankingPage {
  .container {
    margin: 140px auto;
    padding: 0 150px;
    .wrap {
      background-color: white;
      padding: 95px;
      h1 {
        font-size: 42px;
        margin-bottom: 20px;
        line-height: 1.2em;
        font-weight: 400;
        text-transform: none;
      }
      .overflow-x {
        overflow-x: auto;
        max-width: 1200px;
        white-space: nowrap;
      }
      table {
        width: 100%;
        thead {
          th {
            font-size: 16px;
            color: #222222;
            padding: 8px;
            border-bottom: 2px solid #222222;
          }
          .benefits {
            text-align: start;
          }
        }
        tbody {
          tr {
            th {
              font-size: 16px;
              padding: 15px;
              color: #222222;
              border-bottom: 1px solid #0000001a;
              ul {
                li {
                  text-align: start;
                  font-weight: 500;
                  font-family: "Open Sans", sans-serif;
                  list-style: disc;
                }
              }
            }
            .minumum {
              font-weight: 400;
            }
            .member-1 {
              color: sandybrown;
            }
            .member-2 {
              color: silver;
            }
            .member-3 {
              color: gold;
            }
            .member-4 {
              color: royalblue;
            }
            .member-5 {
              color: skyblue;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .memberRankingPage {
    .section__1 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .memberRankingPage {
    .section__1 {
      .container {
        padding: 0 100px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .memberRankingPage {
    .section__1 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .memberRankingPage {
    .section__1 {
      .container {
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 575px) {
  .memberRankingPage {
    .section__1 {
      .container {
        padding: 0 20px;
        .wrap {
          padding: 50px;
        }
        h1 {
          word-wrap: break-word;
          font-size: 32px;
        }
      }
    }
  }
}
