@use "../../../assets/fonts/font.scss";
.sideNavLayoutDeploy {
  width: 290px;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #0f1e53;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: solid 1px #ddd;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  transition: 0.5s;
  line-height: 1.5;
  font-size: 14px;
  .close {
    color: white;
  }
  .img {
    img {
      height: 55px;
      width: 200px;
      padding: 10px;
      margin: 25px 0;
    }
  }
  .username {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .email,
  .pointlabel,
  .point,
  .membershiplevellabel,
  .membershipsvg,
  .customer_since,
  .customer_since_sub,
  .creditavailable {
    color: white;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .pointlabel,
  .membershiplevellabel,
  .customer_since,
  .creditavailable {
    font-weight: 600;
  }
  .credit {
    display: flex;
    align-items: center;
    color: white;
    .price {
      padding: 6px 8px 6px 24px;
    }
    .topup {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .dashboard,
  .service,
  .deploy,
  .billing,
  .support,
  .user,
  .affiliate,
  .reseller {
    cursor: pointer;
    display: flex;
    margin-top: 25px;
    color: white;
    padding-left: 20px;
    align-items: center;
    img {
      filter: invert(1);
      width: 22px;
      height: 22px;
    }
    p {
      margin-left: 10px;
      font-size: 18px;
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
    }
    .icon {
      margin-left: 8px;
      &-billing,
      &-support,
      &-user {
        color: white;
        width: 22px;
        height: 22px;
      }
    }
  }
  .telegramChannel,
  .discordGroup {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    align-items: center;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    &-text {
      padding-left: 32px;
      padding-right: 8px;
      margin-top: 8px;
      font-size: 17px;
      color: white;
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.opensidebar {
  rotate: 90deg;
  cursor: pointer;
  position: fixed;
  top: 200px;
  left: -42px;
  background: #0f1e53;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding: 10px 20px;
}
